body {
  color: #000;
  background-color: #fff;
}

table {
  border: 1px solid #777;
  border-collapse: collapse;
}

table th, table td {
  padding-left: .5em;
  padding-right: .5em;
}

table td {
  border-width: 1px 0;
  border-style: solid;
  border-color: #777;
}

tr:hover {
  background-color: rgba(127, 127, 127, .2);
}

a {
  text-decoration: none;
  color: #008;
}

a:hover {
  text-decoration: underline
}

@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background-color: #333;
  }
  a {
    color: #88f;
  }
}
